In [1]:
import pandas as pd

In [2]:
sales_data = pd.read_csv('/Users/guybasson/Desktop/sdatta-nlp/palmers_fashion/f_sales_v_fashion.csv')
sales_data['date'] = pd.to_datetime(sales_data['date'])
sales_data['item'] = sales_data['sku'].astype(str)
sales_data['store'] = sales_data['store'].astype(str)
sales_data = sales_data.rename(columns={'total_sales':'sales'})
sales_data

,sku,store,date,average_price,average_dicounted_price,sales,item
0,100009119000002,76,2019-08-05,49.90,5.00,1.0,100009119000002
1,100009134000001,4134,2018-02-27,49.99,24.99,1.0,100009134000001
2,100009134000003,4904,2018-02-03,49.99,24.99,1.0,100009134000003
3,100009134000004,4904,2018-01-11,49.99,24.99,1.0,100009134000004
4,100009134000004,4904,2018-02-08,49.99,24.99,1.0,100009134000004
...,...,...,...,...,...,...,...
4990972,201999999991001,95,2018-08-30,2.99,0.00,1.0,201999999991001
4990973,201999999991001,95,2018-08-31,2.99,0.00,2.0,201999999991001
4990974,201999999991001,95,2018-12-03,2.99,0.00,4.0,201999999991001
4990975,201999999991001,96,2018-12-08,2.99,2.99,1.0,201999999991001
4990976,201999999991001,99,2021-07-20,2.99,0.00,1.0,201999999991001

In [3]:
mbew_fashion = pd.read_csv('mbew_fashion.csv')
mbew_fashion['valid_to_date'] = mbew_fashion['valid_to_date'].replace('9999-12-31', sales_data['date'].max())
mbew_fashion['valid_to_date'] = pd.to_datetime(mbew_fashion['valid_to_date'])
mbew_fashion['valid_from_date'] = pd.to_datetime(mbew_fashion['valid_from_date'])
mbew_fashion['item'] = mbew_fashion['sku'].astype(str).str[:12]
mbew_fashion

,store,sku,valid_from_date,valid_to_date,stock,item
0,123,100549055000004,2017-04-21,2099-12-31,0.0,100549055000
1,89,100532175000001,2017-04-21,2099-12-31,0.0,100532175000
2,43,100553018000001,2017-04-21,2099-12-31,0.0,100553018000
3,104,100548169000007,2017-04-21,2099-12-31,0.0,100548169000
4,85,100549049000003,2017-04-21,2099-12-31,0.0,100549049000
...,...,...,...,...,...,...
17812117,18,100552850000002,2020-05-07,2099-12-31,0.0,100552850000
17812118,99,100653096000013,2020-05-07,2020-08-14,1.0,100653096000
17812119,46,100557049000004,2018-11-17,2099-12-31,0.0,100557049000
17812120,8,100511203000004,2017-04-21,2099-12-31,0.0,100511203000
17812121,3202,100542009000007,2017-04-21,2099-12-31,0.0,100542009000

In [4]:
sales_data.columns

Index(['sku', 'store', 'date', 'average_price', 'average_dicounted_price',
       'sales', 'item'],
      dtype='object')

In [5]:
AAA = [3, 18, 22, 28, 29, 44, 51, 57, 63, 73, 74, 76, 79, 88, 89, 91, 96, 100, 117, 119, 123, 130, 133, 135, 136, 141, 143, 144, 149, 150, 152, 162, 164, 166, 167, 168, 171, 172, 175, 179, 181, 184, 185, 186, 188, 189, 202, 214, 216, 217, 226, 3005, 3202, 3205, 3208, 4104, 4123, 4129, 4134, 4803, 4805, 4904, 4906, 4, 5, 7, 8, 10, 11, 15, 21, 26, 27, 35, 36, 37, 42, 43, 45, 46, 47, 50, 52, 55, 56, 61, 64, 67, 68, 69, 81, 82, 84, 85, 90, 95, 99, 104, 105, 106, 109, 114, 121, 122, 147, 156, 159, 160, 163, 170, 173, 174, 180, 182, 183, 201, 203, 213, 215, 218, 219, 220, 221, 225, 3245, 4133]
#AAA to str
AAA  = [str(x) for x in AAA]

In [6]:
print(len(AAA))

126

In [7]:
sales_data = sales_data[sales_data['fashiongrade'] == 'M']

KeyError: 'fashiongrade'

In [ ]:
sales_data['item'] = sales_data['sku'].astype(str).str[:12]

In [ ]:
sales_data_g_item = sales_data.groupby(['date','item'])['sales'].sum().reset_index()

In [ ]:
sales_data_g_item['date'] = pd.to_datetime(sales_data_g_item['date'])

In [ ]:
# sales of sum for each item in 2023 that are large then 0 and fashiongrade is 'M'
items_sales_in_2023 = sales_data_g_item[sales_data_g_item['date'].dt.year == 2023].groupby('item')['sales'].sum().sort_values(ascending=False)[sales_data_g_item[sales_data_g_item['date'].dt.year == 2023].groupby('item')['sales'].sum().sort_values(ascending=False) > 100].index

In [ ]:
import matplotlib.pyplot as plt
for item in items_sales_in_2023[50:100]:
    item_data = sales_data_g_item[sales_data_g_item['item'] == item].groupby('date')['sales'].sum()
    fashiongrade = sales_data[sales_data['item'] == item]['fashiongrade'].unique()[0]
    # reindex to fill in missing dates
    item_data = item_data.reindex(pd.date_range(start=sales_data_g_item['date'].min(),
                                                # today
                                                end=sales_data_g_item['date'].max(),

                                                freq='D')).fillna(0)
    item_data_w = item_data.resample('W').sum()
    # fig size
    plt.figure(figsize=(20,4))
    plt.title('item: ' + item + ' fashiongrade: ' + str(fashiongrade))
    item_data_w.plot()
    plt.show()

In [ ]:
for store in sales_data['store'].unique()[:1]:
    store_sales = sales_data[sales_data['store'] == store]
    for item in store_sales['item'].unique()[:1]:
        item_store_sales = store_sales[store_sales['item'] == item].groupby('date').agg({'average_price':'mean',
                                                                                'average_dicounted_price':'mean',
                                                                                'sales':'sum'})
        item_store_sales = item_store_sales.reindex(pd.date_range(start=item_store_sales.index.min(),
                                                    end=item_store_sales.index.max(),
                                                    freq='D'))
        item_store_sales['average_price'] = item_store_sales['average_price'].fillna(method='ffill')
        item_store_sales['average_dicounted_price'] = item_store_sales['average_dicounted_price'].fillna(method='ffill')
        item_store_sales['sales'] = item_store_sales['sales'].fillna(0)

        item_store_sales.plot(figsize=(20,4))
        plt.title('item: ' + item + ' store: ' + str(store))
        plt.show()

In [ ]:
for item in ['100652103000']:
    item_data = sales_data[sales_data['item'] == item].groupby('date').agg({'average_price':'mean',
                                                                            'average_dicounted_price':'mean',
                                                                            'sales':'sum'})
    item_data = item_data.reindex(pd.date_range(start=item_data.index.min(),
                                                end=item_data.index.max(),
                                                freq='D'))
    item_data['average_price'] = item_data['average_price'].fillna(method='ffill')
    item_data['average_dicounted_price'] = item_data['average_dicounted_price'].fillna(method='ffill')
    item_data['sales'] = item_data['sales'].fillna(0)
    item_data.plot(figsize=(20,4))
    plt.title('item: ' + item)
    plt.show()

In [ ]:
sales_data[sales_data['item'] == '100652103000']['sku'].unique().tolist()

In [ ]:
store_sales['store'].unique()

In [ ]:


for store in sales_data['store'].unique()[:10]:
    store_sales = sales_data[sales_data['store'] == store]
    store_stock = mbew_fashion[mbew_fashion['store'].astype(str) == store]
    for sku in [100652103000001, 100652103000002, 100652103000003, 100652103000004]:
        stock_sku_store_data = pd.DataFrame()
        sku_store_stock = store_stock[store_stock['sku'].astype(str) == str(sku)]
        for row in sku_store_stock.iterrows():
            stock_sku_store_data = pd.concat([stock_sku_store_data,
                                            pd.DataFrame({'date':pd.date_range(start=row[1]['valid_from_date'],
                                                                                end=row[1]['valid_to_date'],
                                                                                freq='D'),
                                                        'stock':row[1]['stock']})])
        if stock_sku_store_data.empty:
            continue
        stock_sku_store_data = stock_sku_store_data.set_index('date')
        sku_store_sales = store_sales[store_sales['sku'] == sku].groupby('date').agg({'average_price':'mean',
                                                                                'average_dicounted_price':'mean',
                                                                                'sales':'sum'})
        if sku_store_sales.empty:
            continue
        sku_store_sales = sku_store_sales.reindex(pd.date_range(start=sku_store_sales.index.min(),
                                                    end=sku_store_sales.index.max(),
                                                    freq='D'))
        sku_store_sales['average_price'] = sku_store_sales['average_price'].fillna(method='ffill')
        sku_store_sales['average_dicounted_price'] = sku_store_sales['average_dicounted_price'].fillna(method='ffill')
        sku_store_sales['sales'] = sku_store_sales['sales'].fillna(0)
        sku_store_sales = sku_store_sales.merge(stock_sku_store_data, left_index=True, right_index=True)
        df = sku_store_sales
        # Plotting
        fig, ax1 = plt.subplots(figsize=(20, 4))

        # Left y-axis for prices
        ax1.plot(df.index, df['average_price'], label='Average Price', color='b')
        ax1.plot(df.index, df['average_dicounted_price'], label='Average Discounted Price', color='g')
        ax1.set_xlabel('Date')
        ax1.set_ylabel('Price ($)', color='g')
        ax1.tick_params(axis='y', labelcolor='g')
        ax1.legend(loc='upper left')

        # Right y-axis for quantities
        ax2 = ax1.twinx()
        ax2.plot(df.index, df['sales'], label='Sales', color='r')
        ax2.plot(df.index, df['stock'], label='Stock', color='purple')
        ax2.set_ylabel('Quantity', color='r')
        ax2.tick_params(axis='y', labelcolor='r')
        ax2.legend(loc='upper right')

        # Title
        plt.title('SKU Sales and Stock Analysis, Store: ' + str(store) + ' SKU: ' + str(sku))

        plt.show()

In [ ]:
sku_store_sales

In [ ]:
sales_data.groupby('date')['sales'].sum().plot()

In [ ]:
sales_data.info()

In [ ]:
sales_data[(sales_data['sku']== 100531067000003) & (sales_data['store'] == '42')]

In [ ]:
print(mbew_fashion[(mbew_fashion['sku'] == 100531067000003) & (mbew_fashion['store'] == 42)])

In [ ]:
mbew_fashion['store'].nunique()

In [ ]:
mbew_fashion[mbew_fashion['sku'] == 100652805000002].sort_values('valid_from_date')