In [1]:
import pandas as pd
import time
import numpy as np

In [2]:
sales_data = pd.read_csv('/Users/guybasson/Desktop/sdatta-nlp/palmers_fashion/f_sales_v_fashion.csv')
sales_data['date'] = pd.to_datetime(sales_data['date'])
sales_data['store'] = sales_data['store'].astype(str)
sales_data = sales_data.rename(columns={'total_sales':'sales'})
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990977 entries, 0 to 4990976
Data columns (total 6 columns):
 #   Column                   Dtype
---  ------                   -----
 0   sku                      int64
 1   store                    object
 2   date                     datetime64[ns]
 3   average_price            float64
 4   average_dicounted_price  float64
 5   sales                    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 228.5+ MB

['76', '4134', '4904', '10', '100', '109', '11', '117', '133', '135', '141', '143', '164', '181', '183', '185', '201', '213', '214', '22', '3005', '3202', '4104', '4123', '4129', '42', '45', '46', '4803', '4906', '5', '67', '68', '7', '73', '8', '82', '88', '89', '104', '174', '3208', '37', '63', '91', '96', '202', '21', '90', '95', '121', '144', '147', '173', '4133', '47', '81', '170', '28', '172', '15', '166', '217', '27', '4', '51', '114', '122', '160', '3', '69', '182', '26', '105', '106', '119', '130', '136', '149', '150', '156', '159', '162', '167', '168', '171', '179', '18', '180', '184', '186', '189', '203', '215', '218', '220', '221', '225', '29', '44', '4805', '50', '52', '55', '56', '61', '64', '74', '79', '84', '85', '99', '152', '163', '175', '216', '219', '3245', '57', '3205', '43', '226', '35', '36', '123', '188']

In [4]:
print(sales_data['sku'])

0          100009119000002
1          100009134000001
2          100009134000003
3          100009134000004
4          100009134000004
                ...
4990972    201999999991001
4990973    201999999991001
4990974    201999999991001
4990975    201999999991001
4990976    201999999991001
Name: sku, Length: 4990977, dtype: int64

In [5]:
warehouse_data = pd.read_csv('/Users/guybasson/Desktop/sdatta-nlp/palmers_fashion/warehouse_stock_fashion.csv')
warehouse_data['valid_to_date'] = warehouse_data['valid_to_date'].replace('2099-12-31', sales_data['date'].max().strftime('%Y-%m-%d'))

In [6]:
list1 = set(warehouse_data[warehouse_data['stock'] > 0 ]['sku'].unique())

In [7]:
list2 = set(sales_data[(sales_data['date'] > '2019-01-01') & (sales_data['sales'] > 0)]['sku'].unique())

In [8]:
list_intersection = list1.intersection(list2)

In [9]:
skus = list(list_intersection)[:100]

In [10]:
sales_data = sales_data[sales_data['sku'].isin(skus)]

In [11]:
warehouse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1356889 entries, 0 to 1356888
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   store            1356889 non-null  object
 1   sku              1356889 non-null  int64
 2   valid_from_date  1356889 non-null  object
 3   valid_to_date    1356889 non-null  object
 4   stock            1356889 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 51.8+ MB

In [12]:
warehouse_data = warehouse_data[warehouse_data['sku'].isin(skus)]

In [13]:
warehouse_data['valid_to_date'].max()

'2023-12-12'

In [14]:
mbew_fashion = pd.read_csv('mbew_fashion.csv')
mbew_fashion['valid_to_date'] = mbew_fashion['valid_to_date'].replace('2099-12-31', sales_data['date'].max().strftime('%Y-%m-%d'))
mbew_fashion['valid_to_date'] = pd.to_datetime(mbew_fashion['valid_to_date'])
mbew_fashion['valid_from_date'] = pd.to_datetime(mbew_fashion['valid_from_date'])
mbew_fashion['item'] = mbew_fashion['sku'].astype(str).str[:12]
mbew_fashion

,store,sku,valid_from_date,valid_to_date,stock,item
0,123,100549055000004,2017-04-21,2022-09-03,0.0,100549055000
1,89,100532175000001,2017-04-21,2022-09-03,0.0,100532175000
2,43,100553018000001,2017-04-21,2022-09-03,0.0,100553018000
3,104,100548169000007,2017-04-21,2022-09-03,0.0,100548169000
4,85,100549049000003,2017-04-21,2022-09-03,0.0,100549049000
...,...,...,...,...,...,...
17812117,18,100552850000002,2020-05-07,2022-09-03,0.0,100552850000
17812118,99,100653096000013,2020-05-07,2020-08-14,1.0,100653096000
17812119,46,100557049000004,2018-11-17,2022-09-03,0.0,100557049000
17812120,8,100511203000004,2017-04-21,2022-09-03,0.0,100511203000
17812121,3202,100542009000007,2017-04-21,2022-09-03,0.0,100542009000

In [15]:
mbew_fashion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17812122 entries, 0 to 17812121
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   store            int64
 1   sku              int64
 2   valid_from_date  datetime64[ns]
 3   valid_to_date    datetime64[ns]
 4   stock            float64
 5   item             object
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 815.4+ MB

In [16]:
mbew_fashion = mbew_fashion[mbew_fashion['sku'].isin(skus)]

In [17]:
mbew_fashion_no_zero = mbew_fashion[mbew_fashion['stock'] > 0]
mbew_fashion_no_zero['valid_from_date'] = pd.to_datetime(mbew_fashion_no_zero['valid_from_date'])
dict_of_first_month_date_for_sku = {}
i= 0
for sku in mbew_fashion_no_zero['sku'].unique():
    i+=1
    print(str(i) + ' out of ' + str(len(mbew_fashion_no_zero['sku'].unique())))
    data_ = mbew_fashion_no_zero[mbew_fashion_no_zero['sku'] == sku]
    first_date = data_['valid_from_date'].min()
    # put the month in the dict from the first date
    dict_of_first_month_date_for_sku[sku] =  first_date.strftime('%m/%y')

1 out of 1

/var/folders/sv/p02my_xx7t193mwjyb2ytt040000gn/T/ipykernel_89960/154987957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mbew_fashion_no_zero['valid_from_date'] = pd.to_datetime(mbew_fashion_no_zero['valid_from_date'])

In [18]:
mbew_fashion['sku'].unique()

array([100060075000001])

In [19]:
# take MM/YY from first date
first_date.strftime('%m/%y')

'09/21'

In [20]:
strong_sku = sales_data.groupby(['sku'])['sales'].sum().sort_values(ascending=False).reset_index()

In [21]:
# import matplotlib.pyplot as plt
# for sku in [100630490000001, 100630490000002, 100630490000003, 100630490000004, 100630490000005, 100630490000006, 100630490000007, 100630490000008, 100630490000009, 100630490000010, 100630490000011, 100630490000012, 100630490000013, 100630490000014, 100630490000015, 100630490000016, 100630490000017, 100630490000018, 100630490000019, 100630490000020, 100630490000021,]:
#     sku_data = sales_data[sales_data['sku'] == sku].groupby('date')['sales'].sum()
#     sku_data = sku_data.reindex(pd.date_range(start=sales_data['date'].min(),
#                                                 # today
#                                                 end=sales_data['date'].max(),
#
#                                                 freq='D')).fillna(0)
#     sku_warehouse = warehouse_data[warehouse_data['sku'].astype(str) == str(sku)].sort_values(by='valid_from_date')
#     sku_warehouse_df_final = pd.DataFrame()
#     for row in sku_warehouse.iterrows():
#         sku_warehouse_df_final = pd.concat([sku_warehouse_df_final, pd.DataFrame({'date':pd.date_range(start=row[1]['valid_from_date'], end=row[1]['valid_to_date'], freq='D'), 'warehouse stock':row[1]['stock']})])
#     sku_warehouse_df_final = sku_warehouse_df_final.set_index('date')
#     relevant_sku_stores_stock = mbew_fashion[mbew_fashion['sku'] == sku]
#     all_stores_sku_stock_data = {}
#     for store in relevant_sku_stores_stock['store'].unique():
#         store_sku_data = relevant_sku_stores_stock[relevant_sku_stores_stock['store'] == store]
#         one_store_stock_sku_all = pd.DataFrame()
#         for row in store_sku_data.iterrows():
#             one_store_stock_sku = pd.DataFrame({'date':pd.date_range(start=row[1]['valid_from_date'],
#                                                                      end=row[1]['valid_to_date'],
#                                                                      freq='D'),
#                                                 'store stock':row[1]['stock']})
#             one_store_stock_sku_all = pd.concat([one_store_stock_sku_all, one_store_stock_sku])
#         one_store_stock_sku_all = one_store_stock_sku_all.set_index('date')
#         all_stores_sku_stock_data[store] = one_store_stock_sku_all
#         # merge all stores with outer join
#     all_stores_final_stock_data = pd.DataFrame()
#     for store in all_stores_sku_stock_data.keys():
#         relevant_store_data_1 = all_stores_sku_stock_data[store]
#         relevant_store_data_1 = relevant_store_data_1.rename(columns={'store stock':'store {}'.format(store) + ' stock'})
#         all_stores_final_stock_data = pd.concat([all_stores_final_stock_data, relevant_store_data_1], axis=1, join='outer')
#     all_store_sum_stock = all_stores_final_stock_data.sum(axis=1).to_frame().rename(columns={0:'all stores stock'})
#     # merge by index
#     sku_data = pd.merge(sku_data, sku_warehouse_df_final, left_index=True, right_index=True, how='left').fillna(0)
#     sku_data = pd.merge(sku_data, all_store_sum_stock, left_index=True, right_index=True, how='left').fillna(0)
#     sku_data_w = sku_data.resample('W').agg({'sales':'sum', 'warehouse stock':'mean', 'all stores stock':'mean'})
#     sku_data_w.plot(figsize=(20,4))
#     plt.title('sku: ' + str(sku))
#
#     plt.show()

In [22]:
sku_warehouse = warehouse_data[warehouse_data['sku'].astype(str) == str(sku)].sort_values(by='valid_from_date')

In [23]:
sales_data['sku_store'] = sales_data['sku'].astype(str) + ',' + sales_data['store'].astype(str)
mbew_fashion['sku_store'] = mbew_fashion['sku'].astype(str) + ',' + mbew_fashion['store'].astype(str)

/var/folders/sv/p02my_xx7t193mwjyb2ytt040000gn/T/ipykernel_89960/3695414943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mbew_fashion['sku_store'] = mbew_fashion['sku'].astype(str) + ',' + mbew_fashion['store'].astype(str)

In [24]:
import numpy as np
import time

start_time = time.time()
mbew_fashion = mbew_fashion.sort_values('valid_from_date')

for store in sales_data['store'].unique():
    print("store:", store)
    len_of_store = sales_data[sales_data['store'] == store]["sku_store"].nunique()

    unique_sku_stores =  sales_data[sales_data['store'] == store]["sku_store"].unique()

    mbew_fashion['valid_from_date'] = pd.to_datetime(mbew_fashion['valid_from_date'])
    mbew_fashion['valid_to_date'] = pd.to_datetime(mbew_fashion['valid_to_date'])
    filtered_mbew_fashion = mbew_fashion[mbew_fashion['sku_store'].isin(unique_sku_stores)]

    # Function to generate date ranges
    def generate_date_ranges(row):
        return pd.date_range(row['valid_from_date'], row['valid_to_date'])

    # Apply function to create date ranges
    df_all_2 = filtered_mbew_fashion.apply(generate_date_ranges, axis=1)

    # Create DataFrame with SKU-store and dates
    df_all_2 = pd.DataFrame({
        'sku_store': np.repeat(filtered_mbew_fashion['sku_store'].values, df_all_2.str.len()),
        'date': np.concatenate(df_all_2.values)  # Convert DatetimeIndex to array for concatenation
    })
    # merge left by ['sku_store', 'date'] and right by ['sku_store', 'valid_to_date']
    df_all_2 = pd.merge(df_all_2, filtered_mbew_fashion[['sku_store','valid_from_date', 'stock']], left_on=['sku_store', 'date'], right_on=['sku_store', 'valid_from_date'], how='left')
    # ffil stock
    df_all_2['stock'] = df_all_2['stock'].ffill()
    df_all_2 = df_all_2.drop(columns=['valid_from_date'])
    df_all_2 = pd.merge(sales_data, df_all_2, on=["sku_store","date"], how="right")
    df_all_2['sku'] = df_all_2['sku_store'].str.split(',').str[0]
    df_all_2['store'] = df_all_2['sku_store'].str.split(',').str[1]
    df_all_2['item'] = df_all_2['sku'].astype(str).str[:12]
    df_all_2['sales'] = df_all_2['sales'].fillna(0)
    df_all_2.to_parquet("/Users/guybasson/Desktop/sdatta-nlp/palmers_fashion/reinforcment_codes/datasets_4/df_all_store_{}.parquet".format(store))

print("--- %s seconds ---" % (time.time() - start_time))

store: 10
store: 100
store: 104
store: 105
store: 106
store: 109
store: 11
store: 117
store: 121
store: 122
store: 130
store: 133
store: 136
store: 141
store: 143
store: 144
store: 15
store: 156
store: 160
store: 162
store: 164
store: 166
store: 167
store: 168
store: 170
store: 171
store: 172
store: 173
store: 174
store: 179
store: 180
store: 181
store: 182
store: 183
store: 184
store: 185
store: 186
store: 188
store: 189
store: 201
store: 202
store: 21
store: 213
store: 215
store: 216
store: 217
store: 22
store: 220
store: 221
store: 225
store: 26
store: 27
store: 29
store: 3
store: 3005
store: 3202
store: 3205
store: 3208
store: 3245
store: 35
store: 37
store: 4
store: 4104
store: 4123
store: 4129
store: 4134
store: 42
store: 44
store: 45
store: 46
store: 4803
store: 4805
store: 4904
store: 4906
store: 5
store: 51
store: 55
store: 56
store: 57
store: 61
store: 63
store: 64
store: 67
store: 68
store: 69
store: 7
store: 73
store: 79
store: 8
store: 81
store: 82
store: 84
store: 85
store: 88
store: 89
store: 90
store: 95
store: 96
store: 99
--- 0.916513204574585 seconds ---

# generate warehouse data

In [25]:
sku_unique_in_sales = sales_data['sku'].unique()

In [26]:
print(warehouse_data[warehouse_data['sku'].isin(skus)])

       store              sku valid_from_date valid_to_date  stock
858909  VZ01  100060075000001      2021-08-20    2021-09-13  257.0
860675  VZ01  100060075000001      2021-09-14    2021-09-14  160.0
860797  VZ01  100060075000001      2021-09-15    2021-09-15  101.0
860883  VZ01  100060075000001      2021-09-16    2021-09-16   91.0
860984  VZ01  100060075000001      2021-09-17    2021-09-17   83.0
861072  VZ01  100060075000001      2021-09-18    2021-09-20   79.0
861204  VZ01  100060075000001      2021-09-21    2021-09-21   75.0
861349  VZ01  100060075000001      2021-09-22    2021-09-22   73.0
861471  VZ01  100060075000001      2021-09-23    2021-09-23   68.0
861626  VZ01  100060075000001      2021-09-24    2021-09-24   63.0
861740  VZ01  100060075000001      2021-09-25    2021-09-27   60.0
861862  VZ01  100060075000001      2021-09-28    2021-09-28   55.0
861956  VZ01  100060075000001      2021-09-29    2021-09-29   54.0
862089  VZ01  100060075000001      2021-09-30    2021-09-30   51.0
862175  VZ01  100060075000001      2021-10-01    2021-10-04   47.0
862461  VZ01  100060075000001      2021-10-05    2021-10-05   38.0
862567  VZ01  100060075000001      2021-10-06    2021-10-06   35.0
862707  VZ01  100060075000001      2021-10-07    2021-10-07   30.0
862832  VZ01  100060075000001      2021-10-08    2021-10-08   26.0
862963  VZ01  100060075000001      2021-10-09    2021-10-11   23.0
863074  VZ01  100060075000001      2021-10-12    2021-10-12   19.0
863218  VZ01  100060075000001      2021-10-13    2021-10-13   15.0
863366  VZ01  100060075000001      2021-10-14    2021-10-14   12.0
863456  VZ01  100060075000001      2021-10-15    2021-10-20   10.0
864048  VZ01  100060075000001      2021-10-21    2021-10-21    9.0
864119  VZ01  100060075000001      2021-10-22    2021-11-09    8.0
865709  VZ01  100060075000001      2021-11-10    2021-11-22    7.0
867023  VZ01  100060075000001      2021-11-23    2021-11-23    6.0
867186  VZ01  100060075000001      2021-11-24    2021-11-24    4.0
867367  VZ01  100060075000001      2021-11-25    2021-11-25    2.0
867523  VZ01  100060075000001      2021-11-26    2021-11-26    3.0
867594  VZ01  100060075000001      2021-11-27    2021-12-01    2.0
868037  VZ01  100060075000001      2021-12-02    2021-12-14    1.0
869061  VZ01  100060075000001      2021-12-15    2023-12-12    0.0

In [27]:

start_time = time.time()
warehouse_data['valid_from_date'] = pd.to_datetime(warehouse_data['valid_from_date'])
warehouse_data['valid_to_date'] = pd.to_datetime(warehouse_data['valid_to_date'])
warehouse_data = warehouse_data.sort_values('valid_from_date')
warehouse_data['sku_store'] = warehouse_data['sku'].astype(str) + ',' + warehouse_data['store'].astype(str)
warehouse_data_sample = warehouse_data[warehouse_data['sku'].isin(sku_unique_in_sales)]
for store in ['VZ01']:
    print("store:", store)

    warehouse_data_sample['valid_from_date'] = pd.to_datetime(warehouse_data_sample['valid_from_date'])
    warehouse_data_sample['valid_to_date'] = pd.to_datetime(warehouse_data_sample['valid_to_date'])
    filtered_warehouse_data = warehouse_data_sample

    # Function to generate date ranges
    def generate_date_ranges(row):
        return pd.date_range(row['valid_from_date'], row['valid_to_date'])

    # Apply function to create date ranges
    df_all_2 = filtered_warehouse_data.apply(generate_date_ranges, axis=1)

    # Create DataFrame with SKU-store and dates
    df_all_2 = pd.DataFrame({
        'sku': np.repeat(filtered_warehouse_data['sku'].values, df_all_2.str.len()),
        'date': np.concatenate(df_all_2.values)  # Convert DatetimeIndex to array for concatenation
    })
    df_all_2 = pd.merge(df_all_2, filtered_warehouse_data[['sku','valid_from_date', 'stock']], left_on=['sku', 'date'], right_on=['sku', 'valid_from_date'], how='left')
    # ffil stock
    df_all_2['stock'] = df_all_2['stock'].ffill()
  #  df_all_2 = df_all_2.rename(columns={'stock':'warehouse stock'})
    df_all_2 = df_all_2.drop(columns=['valid_from_date'])

    df_all_2.to_parquet("/Users/guybasson/Desktop/sdatta-nlp/palmers_fashion/reinforcment_codes/datasets_4/df_all_store_{}.parquet".format(store))

print("--- %s seconds ---" % (time.time() - start_time))

store: VZ01
--- 0.009860992431640625 seconds ---

In [28]:
df_all_2

                 sku       date  stock
0    100060075000001 2021-08-20  257.0
1    100060075000001 2021-08-21  257.0
2    100060075000001 2021-08-22  257.0
3    100060075000001 2021-08-23  257.0
4    100060075000001 2021-08-24  257.0
..               ...        ...    ...
840  100060075000001 2023-12-08    0.0
841  100060075000001 2023-12-09    0.0
842  100060075000001 2023-12-10    0.0
843  100060075000001 2023-12-11    0.0
844  100060075000001 2023-12-12    0.0

[845 rows x 3 columns]

In [29]:
df_all_2.to_parquet("df_all_store_{}.parquet".format(store))

In [30]:
df_all_2['sku_store'].unique()

KeyError: 'sku_store'

In [ ]:
df_all_2

In [ ]:
warehouse_data_sample[warehouse_data_sample['sku'] == '100657013000006']

In [ ]:
unique_sku_stores

In [ ]:
df_all_2

In [ ]:
df_all_2

In [ ]:
mbew_fashion[mbew_fashion['sku_store'] == '100090812000001,100']

In [ ]:
df_all_2[df_all_2['sku_store'] == '100090812000001,100']

In [ ]:
warehouse_data.info()

In [ ]:
sku_warehouse_df_final

In [ ]:
print(100630490000005)

In [ ]:
sku_data